html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hover-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-card:hover {
    transform: translateY(-10px); /* 往上浮 10px */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* 陰影加深，浮起感 */
}
#hotpost{
    border: 2px solid black;
}
#hotproduct {
    border: 2px solid black;
}
.Logo{
    width: 200px;
    height: 40px;
    object-fit: cover;
}
.hotpost-title {
    font-size: 2rem;
}
.hotpost-Author {
    font-size: 1.5rem;
}

@media (min-width: 576px) {
    .hotpost-title {
        font-size: 2rem; /* sm */
    }
    .hotpost-Author {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .hotpost-title {
        font-size: 0.85rem; /* md */
    }
    .hotpost-Author {
        font-size: 0.61rem;
    }
}

@media (min-width: 992px) {
    .hotpost-title {
        font-size: 1.3rem;
    }
    .hotpost-Author {
        font-size: 1rem; 
    }
}
.mega-menu {
    width: 100%;
    left: 0;
    right: 0;
}

.mega-menu .dropdown-item {
    white-space: normal;
}
